@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
.bigdiscordtext{
  color: whitesmoke;
  font-size: 390%;
  text-align: center;
  font-weight: 200;
  justify-content: center;
  align-self: center;
  
}

.discordtext{
  color: whitesmoke;
  font-size: 150%;
  text-align: center;
  margin-top: 20px;
}

.discordlogo{
  margin-bottom: 30px;
}


body {
  font-family: "Benne", sans-serif;
}

.hammersmith{
  font-family: "Hammersmith", sans-serif; 
}

.backgroundwood{
  background-image: url("images/Table texture.jpg");
}

.backgroundlightwood{
  background-color: black;
}

.backgroundlibrary{
  background-image: url("images/library-wood.jpg");
}

.firstfooter{
  background-image: url("images/library-wood.jpg");
  height: 300px;
  display: flex;
  flex-direction: column;
}

.discord{
  display: flex;
  align-items: center;
  justify-content: center;

}

li, a, button {
  font-weight: 400;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

.none{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10%;
  box-sizing: border-box;
  margin: 0;
  background-image: none;
}

.aboutbook {
  width:90%;
  height: auto;
}

.page{
  width: 750px; 
  height: auto;
  padding: 40px;
  text-align: center;  
  margin-left: auto;
  margin-right: auto;
} 

.escolha{
  display: flex;
  justify-content: space-around;
  margin: 20px;
  height: 200px;
}

.escolha button{
  width: 200px;
  font-size: xx-large;
  font-style: oblique;
}

.escolha button:onclick{
  font-size: small;
  color: black;
  transition: all 0.3s ease 0s;
}





.escolhabotao1{
  height: 100%;
  background-color: turquoise;
}

.escolhabotao2{
  height: 100%;
  background-color:darkred;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10%;
  box-sizing: border-box;
  margin: 0;
  background-image: url("images/Wood-2.jpg")
}

img, button {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

img:hover, button:hover {
  transform: scale(1.02);
}

nav {
  display: flex;
  align-items: center; 
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  font-size: x-large;
}

.nav__links li a:hover {
  color: #0088a9;
}

.smallbutton {
  margin-left: 20px;
  padding: 9px 25px;
  background-color:#0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.smallbutton:hover {
    opacity: 0.7;
}



.logo{
  margin-right: auto;
}

.box {
  width:90%;
  height: auto;
  padding: 20px;
  margin: 20px;
  background-image: url("images/Wood texture.jpg");
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

.books { 
  width: 200px; 
  height: auto;
  float: left;
  margin: 1rem 1.5rem; 
}

.livraria {
  padding: 5rem;
  float:left;
}
.textoliv {
  color: white;
  font-weight: 400;
}

.center {
  text-align: center;
}

body > main > a > button {
  width: 20rem;
  padding: 20px;
  margin: 20px;
  background-image: url("images/fire-flames.gif");
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.buttomcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text{
  font-size: x-large;
  text-align: justify;
  color:white;
}

.pageflip{
  display: block;
  position: relative;
  animation-name: flipPage;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite;
}

@keyframes flipPage{
  25%{
    transform: translateX(70px) translateY(0) rotateY(180deg)
  }
} 


.textfade{
  color:black;
  transition: all 0.2s ease 0s;
}

.textfadent{
  color: white;
  transition: all 0.2s ease 0s;
}